<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dd0d05bba7.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="author" content="Ashwini Setty">
    <title>Minwii | Image</title>
    <link rel="stylesheet" href="/css/components.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="left-nav">
                <a href="/index.html">Minwii</a>
            </div>
            <ul class="right-nav">
                <li><a href="/components/avatar/avatar.html">Docs</a></li>
                <li><a href="https://github.com/AshwiniSetty/Minwii_UI">Github</a></li>
            </ul>
        </nav>
        <div class="doc-container">
            <div class="side-bar">            
                <!-- Components List start -->
                <div class="nested-list">
                    <div class="list-topic">
                        <a href="#">Components</a>
                    </div>
                    <ul class="list-subtopic">
                        <li><a href="/components/avatar/avatar.html">Avatar</a></li>
                        <li><a href="/components/alerts/alerts.html">Alert</a></li>
                        <li><a href="/components/badges/badges.html">Badge</a></li>
                        <li><a href="/components/buttons/buttons.html">Button</a></li>
                        <li><a href="/components/card/card.html">Card</a></li>
                        <li><a class="active" href="/components/image/image.html">Image</a></li>
                        <li><a href="/components/input/input.html">Input</a></li>
                        <li><a href="/components/typography/typography.html">Typography</a></li>
                        <li><a href="/components/list/list.html">Lists</a></li>
                        <li><a href="/components/navigation/navigation.html">Navigation</a></li>
                    </ul>
                </div>
            </div>
            <div class="doc-content">
                <!-- Image Component starts -->
                <div class="content-title">
                    Images
                </div>
                <div class="content-subtitle">
                    Images are used for all kinds of reasons: to enhance websites, to illustrate stories, in ad displays, to present products or services, as stand-alone “a picture is worth a thousand words” meaning-rich tools, and sure, on social media.
                </div>

                <div class="divider"></div>

                <!-- Responsive Image -->
                <div class="content-head">
                    Responsive Image
                </div>

                <div class="content-subtitle">
                    Use 'image-responsive' class with any image to get responsive image.
                </div>

                <div class="example-display">
                    <img class="image-responsive" src="/assets/images/home-office.jpg" alt="home-office">
                </div>

                <div class="code-container">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=one-light&wt=none&l=css&width=800&ds=true&dsyoff=100px&dsblur=83px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F*Use%2520%27image-responsive%27%2520class%2520with%2520any%2520image%2520to%2520get%2520responsive%2520image%250Ayou%2520can%2520add%2520image%2520source%2520as%2520usual*%252F%250A%250A%253Cimg%2520class%253D%2522image-responsive%2522%2520src%253D%2522url_of_the_image%2522%2520alt%253D%2522image%2522%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="divider"></div>

                <div class="content-head">
                    Round Image
                </div>

                <div class="content-subtitle">
                    Use 'image-round' class with any image to get round image, with a default dimension of 150px X 150px.
                </div>

                <div class="example-display">
                    <img class="image-responsive image-round" src="/assets/images/home-office.jpg" alt="home-office">
                </div>

                <div class="code-container">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=one-light&wt=none&l=css&width=800&ds=true&dsyoff=100px&dsblur=83px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F*Use%2520%27image-round%27%2520class%2520with%2520any%2520image%2520to%2520get%2520round%2520image%252C%2520with%2520a%2520default%2520dimension%2520of%2520150px%2520X%2520150px.*%252F%250A%250A%253Cimg%2520class%253D%2522image-responsive%2520image-round%2522%2520src%253D%2522url_of_the_image%2522%2520alt%253D%2522image%2522%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
                
                <div class="divider"></div>

                <!--Navigation-->
                <div class="navigate">
                    <div class="prev-comp">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--grommet-icons" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-width="2" d="M15 6l-6 6l6 6"></path></svg>
                        <a href="/components/card/card.html">Card</a>
                    </div>
                    <div class="next-comp">
                        <a href="/components/input/input.html">Input</a>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Footer-->
<footer class="footer">
    <div class="footer-header">Made with <i class="fas fa-code"></i> by Ashwini Setty</div>
    <ul class="list-non-bullet">
        <li class="list-item-inline"><a class="link" href="https://github.com/AshwiniSetty" target="_blank"><i class="fab fa-github"></i></a></li>
        <li class="list-item-inline"><a class="link" href="https://www.linkedin.com/in/ashwini-setty-b57313158/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li class="list-item-inline"><a class="link" href="https://twitter.com/Ashwini_Setty" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
    </ul>
    <div class="footer-header">&copy; 2022 - Minwii</div>
</footer>
</body>
</html>