<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dd0d05bba7.js" crossorigin="anonymous"></script>
    <meta name="author" content="Ashwini Setty">
    <meta name="description" content="Miniwii UI - The component library that can be used for building your website, Quick and Easy!">
    <title>Minwii | Typography</title>
    <link rel="stylesheet" href="/css/components.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="left-nav">
                <a href="/index.html">Minwii</a>
            </div>
            <ul class="right-nav">
                <li><a href="/components/avatar/avatar.html">Docs</a></li>
                <li><a href="https://github.com/AshwiniSetty/Minwii_UI">Github</a></li>
            </ul>
        </nav>
        <div class="doc-container">
            <div class="side-bar">            
                <!-- Components List start -->
                <div class="nested-list">
                    <div class="list-topic">
                        <a href="#">Components</a>
                    </div>
                    <ul class="list-subtopic">
                        <li><a href="/components/avatar/avatar.html">Avatar</a></li>
                        <li><a href="/components/alerts/alerts.html">Alert</a></li>
                        <li><a href="/components/badges/badges.html">Badge</a></li>
                        <li><a href="/components/buttons/buttons.html">Button</a></li>
                        <li><a href="/components/card/card.html">Card</a></li>
                        <li><a href="/components/image/image.html">Image</a></li>
                        <li><a href="/components/input/input.html">Input</a></li>
                        <li><a class="active" href="/components/typography/typography.html">Typography</a></li>
                        <li><a href="#">Lists</a></li>
                        <li><a href="#">Navigation</a></li>
                        <li><a href="#">Modal</a></li>
                        <li><a href="#">Rating</a></li>
                        <li><a href="#">Toast</a></li>
                        <li><a href="#">Grid</a></li>
                    </ul>
                </div>
            </div>
            <div class="doc-content">
                <!-- Input Component starts -->
                <div class="content-title">
                    Typography
                </div>
                <div class="content-subtitle">
                    Typography is all about style, proportions, and spacing. Good typography is not only imperative for aesthetic appeal, but it also improves site usability when text legibility and readability concepts are applied.
                </div>

                <div class="divider"></div>

                <!-- Default Input -->
                <div class="content-head">
                    Headings
                </div>

                <div class="content-subtitle">
                    To create a heading, use the required html heading tags.
                </div>

                <div class="example-display typography">
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>

                </div>

                <div class="code-container">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=one-light&wt=none&l=css&width=800&ds=true&dsyoff=100px&dsblur=83px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F*Use%2520the%2520%253Ch1%253E%252C%2520%253Ch2%253E%252C%2520%253Ch3%253E%252C%2520%253Ch4%253E%252C%2520%253Ch5%253E%252C%2520%253Ch6%253E%2520html%2520tags%2520as%2520per%2520requirement%2520*%252F%250A%253Ch1%253EHeading%25201%253C%252Fh1%253E%250A%253Ch2%253EHeading%25202%253C%252Fh2%253E%250A%253Ch3%253EHeading%25203%253C%252Fh3%253E%250A%253Ch4%253EHeading%25204%253C%252Fh4%253E%250A%253Ch5%253EHeading%25205%253C%252Fh5%253E%250A%253Ch6%253EHeading%25206%253C%252Fh6%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="divider"></div>

                <div class="content-head">
                    Text Utilities
                </div>

                <div class="content-subtitle">
                    Text utilties has small, regular, and large text.
                    Use the base class 'text' with required text size class - text-small, text-regular, and text-large.
                </div>

                <div class="example-display typography">
                   <p class="text text-small">small text</p>
                   <p class="text text-regular">regular text</p>
                   <p class="text text-large">large text</p>
                </div>

                

                <div class="code-container">
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=one-light&wt=none&l=css&width=800&ds=true&dsyoff=100px&dsblur=83px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text%2520text-small%2522%253Esmall%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text%2520text-regular%2522%253Eregular%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text%2520text-large%2522%253Elarge%2520text%253C%252Fp%253E"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="divider"></div>

                <div class="content-head">
                    Aligned Text Utilities
                </div>

                <div class="content-subtitle">
                    To create aligned text, use the base class text along with along with required alignment classes- text-left, text-center, text-right.
                </div>

                <div class="example-display-text">
                    <p class="text text-left">left aligned text</p>
                    <p class="text text-center">center aligned text</p>
                    <p class="text text-right">right aligned text</p>
                </div>

                <div class="code-container">
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=one-light&wt=none&l=css&width=800&ds=true&dsyoff=100px&dsblur=83px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text%2520text-left%2522%253Eleft%2520aligned%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text%2520text-center%2522%253Ecenter%2520aligned%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text%2520text-right%2522%253Eright%2520aligned%2520text%253C%252Fp%253E"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="divider"></div>

                <div class="content-head">
                    Coloured Text Utilities
                </div>

                <div class="content-subtitle">
                    To create coloured text, use the base class text along with along with required colour classes - text-default, text-primary, text-secondary, text-success, text-warning and text-error.
                </div>

                <div class="example-display typography">
                    <p class="text text-default">default coloured text</p>
                    <p class="text text-primary">primary coloured text</p>
                    <p class="text text-secondary">secondary coloured text</p>
                    <p class="text text-success">success coloured text</p>
                    <p class="text text-warning">warning coloured text</p>
                    <p class="text text-error">error coloured text</p>
                </div>

                <div class="code-container">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=one-light&wt=none&l=css&width=800&ds=true&dsyoff=100px&dsblur=83px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text%2520text-default%2522%253Edefault%2520coloured%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text%2520text-primary%2522%253Eprimary%2520coloured%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text%2520text-secondary%2522%253Esecondary%2520coloured%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text%2520text-success%2522%253Esuccess%2520coloured%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text%2520text-warning%2522%253Ewarning%2520coloured%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text%2520text-error%2522%253Eerror%2520coloured%2520text%253C%252Fp%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="divider"></div>

                <!--Navigation-->
                <div class="navigate">
                    <div class="prev-comp">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--grommet-icons" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-width="2" d="M15 6l-6 6l6 6"></path></svg>
                        <a href="/components/input/input.html">Input</a>
                    </div>
                    <div class="next-comp">
                        <a href="/components/lists/list.html">Lists</a>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Footer-->
<footer class="footer">
    <div class="footer-header">Made with <i class="fas fa-code"></i> by Ashwini Setty</div>
    <ul class="list-non-bullet">
        <li class="list-item-inline"><a class="link" href="https://github.com/AshwiniSetty" target="_blank"><i class="fab fa-github"></i></a></li>
        <li class="list-item-inline"><a class="link" href="https://www.linkedin.com/in/ashwini-setty-b57313158/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li class="list-item-inline"><a class="link" href="https://twitter.com/Ashwini_Setty" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
    </ul>
    <div class="footer-header">&copy; 2022 - Minwii</div>
</footer>
</body>
</html>
