<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dd0d05bba7.js" crossorigin="anonymous"></script>
    <meta name="author" content="Ashwini Setty">
    <meta name="description" content="Miniwii UI - The component library that can be used for building your website, Quick and Easy!">
    <title>Minwii | Home</title>
    <link rel="stylesheet" href="/css/components.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="left-nav">
                <a href="/index.html">Minwii</a>
            </div>
            <ul class="right-nav">
                <li><a href="/components/avatar/avatar.html">Docs</a></li>
                <li><a href="https://github.com/AshwiniSetty/Minwii_UI">Github</a></li>
            </ul>
        </nav>
        <div class="doc-container">
            <div class="side-bar">            
                <!-- Components List start -->
                <div class="nested-list">
                    <div class="list-topic">
                        <a href="#">Components</a>
                    </div>
                    <ul class="list-subtopic">
                        <li><a href="/components/avatar/avatar.html">Avatar</a></li>
                        <li><a href="/components/alerts/alerts.html">Alert</a></li>
                        <li><a href="/components/badges/badges.html">Badge</a></li>
                        <li><a class="active" href="/components/buttons/buttons.html">Button</a></li>
                        <li><a href="/components/card/card.html">Card</a></li>
                        <li><a href="#">Image</a></li>
                        <li><a href="#">Input</a></li>
                        <li><a href="#">Text Utilities</a></li>
                        <li><a href="#">Lists</a></li>
                        <li><a href="#">Navigation</a></li>
                        <li><a href="#">Modal</a></li>
                        <li><a href="#">Rating</a></li>
                        <li><a href="#">Toast</a></li>
                        <li><a href="#">Grid</a></li>
                    </ul>
                </div>
            </div>
            <div class="doc-content">
                <!-- Button Component starts -->
                <div class="content-title">
                    Buttons
                </div>
                <div class="content-subtitle">
                    Buttons have an important essence to any interactive Web application. Buttons are components of a website, that a user can click to execute an action, make choice or interact with the website.
                </div>


                <div class="divider"></div>

                <!-- Contained Button -->
                <div class="content-head">
                    Contained Button
                </div>

                <div class="content-subtitle">
                    Contained buttons are high-emphasis, distinguished by their use of elevation and fill. They contain actions that are primary to your app. These can be considered for those things that we want the user to do as often as possible and should be as visible as possible.
                </div>

                <div class="example-display">
                    <button class="btn">DEFAULT</button>
                    <button class="btn btn-primary">PRIMARY</button>
                    <button class="btn btn-secondary">SECONDARY</button>
                    <button class="btn btn-error">ERROR</button>
                    <button class="btn btn-success">SUCCESS</button>
                </div>

                <div class="content-subtitle">
                   Use the default 'btn' class and the required button variant.
                </div>

                <div class="code-container">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=one-light&wt=none&l=css&width=800&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F*%2520Use%2520the%2520%27btn%27%2520class%2520followed%2520by%2520required%2520%27btn-variant%27%2520class%2520*%252F%250A%253Cbutton%2520class%253D%2522btn%2522%253EDEFAULT%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%253EPRIMARY%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2522%253ESECONDARY%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-error%2522%253EERROR%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-success%2522%253ESUCCESS%253C%252Fbutton%253E"
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>
                </div>

                <div class="content-subtitle">
                   Note: By just using the 'btn' class, default type button is generated.
                 </div>

                <div class="divider"></div>  

                <!-- Online Button -->

                <div class="content-head">
                    Outline Button
                </div>

                <div class="content-subtitle">
                    The outline button style removes all background images or colors from a button and gives it a lighter look. The outline style buttons can be used for various purposes, for example: Indicating the secondary action complementing the primary action.
                </div>


                <div class="example-display">
                    <button class="btn outline">DEFAULT</button>
                    <button class="btn outline-primary">PRIMARY</button>
                    <button class="btn outline-error">ERROR</button>
                    <button class="btn outline-success">SUCCESS</button>    
                </div>

                <div class="content-subtitle">
                    You can use the below code for Outline Button.
                </div>

                <div class="code-container">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=one-light&wt=none&l=css&width=800&ds=true&dsyoff=100px&dsblur=83px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F*%2520Using%2520the%2520%27btn%27%2520class%2520followed%2520by%2520the%2520required%2520%27outline-variant%27%2520class%2520*%252F%250A%253Cbutton%2520class%253D%2522btn%2520outline%2522%253EDEFAULT%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520outline-primary%2522%253EPRIMARY%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520outline-error%2522%253EERROR%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520outline-success%2522%253ESUCCESS%253C%252Fbutton%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="divider"></div>

                <!-- Link Button -->

                <div class="content-head">
                    Link Button
                </div>

                <div class="content-subtitle">
                    The Link Button control has the same appearance as a HyperLink control, but has the same functionality as a Button control. If you want to link to another Web page when the control is clicked, consider using the HyperLink control.
                </div>

                <div class="example-display">
                    <button class="btn btn-primary"><a href="#">LINK</a></button>
                    <a class="btn-link" href="#">LINK</a>   
                </div>

                <div class="content-subtitle">
                    You can use the below code for Link Button.
                </div>

                <div class="code-container">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=one-light&wt=none&l=css&width=800&ds=true&dsyoff=100px&dsblur=83px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F*%2520Using%2520the%2520required%2520buttton%2520class%2520with%2520anchor%2520tag%2520or%2520%27btn-link%27%2520class%2520in%2520anchor%2520tag%2520*%252F%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%253E%253Ca%2520href%253D%2522%2523%2522%253ELINK%253C%252Fa%253E%253C%252Fbutton%253E%250A%253Ca%2520class%253D%2522btn-link%2522%2520href%253D%2522%2523%2522%253ELINK%253C%252Fa%253E"
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>     
                </div>

                <div class="content-subtitle">
                    NOTE: Links may technically be a button but often they have no background or outline until a user hovers over them, so they simply appear as the label.
                </div>

                <div class="divider"></div>

                <!-- Disabled Button -->

                <div class="content-head">
                    Disabled Buttons
                </div>

                <div class="content-subtitle">
                    A disabled button is unusable and un-clickable. The disabled attribute can be set to keep a user from clicking on the button until some other condition has been met.
                </div>

                <div class="example-display">
                    <button class="btn btn-primary btn-disabled" disabled>DEFAULT</button>
                    <button class="btn btn-primary outline-primary btn-disabled" disabled>DEFAULT</button>
                      
                </div>

                <div class="content-subtitle">
                    The class 'btn-disabled' with disabled attribute makes a button unclickable. 
                </div>

                <div class="code-container">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=one-light&wt=none&l=css&width=800&ds=true&dsyoff=100px&dsblur=83px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F*%2520Using%2520the%2520required%2520type%2520of%2520button%2520with%2520%27btn-disabled%27%2520class%2520and%2520disabled%2520attribute%2520*%252F%250A%2520%253Cbutton%2520class%253D%2522btn%2520btn-disabled%2522%2520disabled%253EDEFAULT%253C%252Fbutton%253E%250A%2520%253Cbutton%2520class%253D%2522btn%2520outline%2520btn-disabled%2522%2520disabled%253EDEFAULT%253C%252Fbutton%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>       
                </div>

                <div class="content-subtitle">
                    NOTE: You can use the any type of button and make it disabled.
                </div>

                <div class="divider"></div>

                <!-- Icon Button -->

                <div class="content-head">
                    Icon Buttons
                </div>

                <div class="content-subtitle">
                    An icon button is an icon that triggers some sort of action on the page. More accurately, technically speaking, an icon button is a button that contains an icon and no (visible) accompanying text.
                </div>

                <div class="example-display">
                    <button class="btn-icon"><i class="fas fa-shopping-cart"></i></button>
                    <button class="btn-icon"><i class="fa fa-bars"></i></button>
                    <button class="btn-icon"><i class="fa fa-cog"></i></button>  
                </div>

                <div class="content-subtitle">
                    The class 'btn-icon' can be used for icon buttons. 
                </div>

                <div class="code-container">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=one-light&wt=none&l=css&width=800&ds=true&dsyoff=100px&dsblur=83px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F*%2520Using%2520the%2520required%2520type%2520of%2520icon%2520with%2520%27btn-icon%27%2520class%2520*%252F%250A%2520%253Cbutton%2520class%253D%2522btn-icon%2522%253E%253Ci%2520class%253D%2522fas%2520fa-shopping-cart%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%2520%253Cbutton%2520class%253D%2522btn-icon%2522%253E%253Ci%2520class%253D%2522fa%2520fa-bars%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%2520%253Cbutton%2520class%253D%2522btn-icon%2522%253E%253Ci%2520class%253D%2522fa%2520fa-cog%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%2520"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>     
                </div>

                <div class="content-subtitle">
                    NOTE: You can use the any type of button and make it disabled.
                </div>

                <div class="divider"></div>

                <!-- Text-Icon Button -->

                <div class="content-head">
                    Text-Icon Buttons
                </div>

                <div class="content-subtitle">
                    An icon button is an button that triggers some sort of action on the page that contains an icon and an visible accompanying text.
                </div>

                <div class="example-display">
                    <button class="btn btn-default">Settings <i class="fa fa-cog"></i></button> 
                    <button class="btn btn-primary">Cart <i class="fas fa-shopping-cart"></i></button>
                    <button class="btn btn-secondary">Menu <i class="fa fa-bars"></i></button>
                     
                </div>

                <div class="content-subtitle">
                    The required type button class with required text and icon can be used for text-icon buttons. 
                </div>

                <div class="code-container">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=one-light&wt=none&l=css&width=800&ds=true&dsyoff=100px&dsblur=83px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F*%2520Using%2520the%2520required%2520type%2520button%2520class%2520with%2520needed%2520text%2520and%2520icon*%252F%250A%253Cbutton%2520class%253D%2522btn%2520btn-default%2522%253ESettings%2520%253Ci%2520class%253D%2522fa%2520fa-cog%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%2520%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%253ECart%2520%253Ci%2520class%253D%2522fas%2520fa-shopping-cart%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2522%253EMenu%2520%253Ci%2520class%253D%2522fa%2520fa-bars%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>   
                </div>

                <div class="divider"></div>

                <!--Navigation-->
                <div class="navigate">
                    <div class="prev-comp">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--grommet-icons" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-width="2" d="M15 6l-6 6l6 6"></path></svg>
                        <a href="/components/badges/badges.html">Badge</a>
                    </div>
                    <div class="next-comp">
                        <a href="/components/card/card.html">Card</a>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Footer-->
<footer class="footer">
    <div class="footer-header">Made with <i class="fas fa-code"></i> by Ashwini Setty</div>
    <ul class="list-non-bullet">
        <li class="list-item-inline"><a class="link" href="https://github.com/AshwiniSetty" target="_blank"><i class="fab fa-github"></i></a></li>
        <li class="list-item-inline"><a class="link" href="https://www.linkedin.com/in/ashwini-setty-b57313158/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li class="list-item-inline"><a class="link" href="https://twitter.com/Ashwini_Setty" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
    </ul>
    <div class="footer-header">&copy; 2022 - Minwii</div>
</footer>
</body>
</html> 