<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="author" content="Ashwini Setty">
    <meta name="description" content="Miniwii UI - The component library that can be used for building your website, Quick and Easy!">
    <title>Minwii | Home</title>
    <link rel="stylesheet" href="/css/components.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="left-nav">
                <a href="/index.html">Minwii</a>
            </div>
            <ul class="right-nav">
                <li><a href="./components/avatar/avatar.html">Docs</a></li>
                <li><a href="https://github.com/AshwiniSetty/Minwii_UI">Github</a></li>
            </ul>
        </nav>
        <div class="doc-container">
            <div class="side-bar">            
                <!-- Components List start -->
                <div class="nested-list">
                    <div class="list-topic">
                        <a href="#">Components</a>
                    </div>
                    <ul class="list-subtopic">
                        <li><a href="/components/avatar/avatar.html">Avatar</a></li>
                        <li><a class="active "href=" ">Alert</a></li>
                        <li><a href="#">Badge</a></li>
                        <li><a href="#">Button</a></li>
                        <li><a href="#">Card</a></li>
                        <li><a href="#">Image</a></li>
                        <li><a href="#">Input</a></li>
                        <li><a href="#">Text Utilities</a></li>
                        <li><a href="#">Lists</a></li>
                        <li><a href="#">Navigatiom</a></li>
                        <li><a href="#">Modal</a></li>
                        <li><a href="#">Rating</a></li>
                        <li><a href="#">Toast</a></li>
                        <li><a href="#">Grid</a></li>
                    </ul>
                </div>
            </div>
    </div>
</div>
<!--Footer-->
<footer class="footer">
    <div class="footer-header">Made with <i class="fas fa-code"></i> by Ashwini Setty</div>
    <ul class="list-non-bullet">
        <li class="list-item-inline"><a class="link" href="https://github.com/AshwiniSetty" target="_blank"><i class="fab fa-github"></i></a></li>
        <li class="list-item-inline"><a class="link" href="https://www.linkedin.com/in/ashwini-setty-b57313158/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li class="list-item-inline"><a class="link" href="https://twitter.com/Ashwini_Setty" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
    </ul>
    <div class="footer-header">&copy; 2022 - Minwii</div>
</footer>
</body>
</html>